form, div.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, div.weather, button {
    margin-bottom: 1.5em;
}
table#tempTable {
    display: none;
}
table, tr, td, th {
    border: 1px solid #333;
    border-collapse: collapse;    
}
td, th {
    padding: 5px;
}
th {
    text-align: center;
}
td {
    text-align: right;
}